{{ define "main" }}
  <section id="hero">
    {{ with site.Params.avatar }}
    <img src="{{ . }}" alt="avatar" class="avatar">
    {{ end }}
    <hgroup>
      <h1>{{ .Site.Title }}</h1>
      {{ with site.Params.description }}
        <p>{{ . }}</p>
      {{ end }}
    </hgroup>
    {{ partial "social.html" . }}
  </section>
  <hr>
  <section>
    {{ .Content }}
  </section>
  <section>
    {{ range site.RegularPages }}
      <article>
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
      </article>
    {{ end }}
  </section>
{{ end }}
