.feather {
    width: 1.2em;
    height: 1.2em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.icon-link {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.icon-link .feather {
    position: relative;
    top: 0.1em;
    width: 1.2em;
    height: 1.2em;
}

:root {
    --header-bg-image: url(../img/header-light.svg)
}

[data-theme="dark"] {
    --header-bg-image: url(../img/header-dark.svg)
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --header-bg-image: url(../img/header-dark.svg)
    }
}

body > header {
    position: relative;
}

body > header::before {
    content: "";
    background-image: var(--header-bg-image);
    background-size: max(100%, 960px) auto;
    background-position: top center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

article :is(h1, h2, h3, h4, h5, h6) :is(a, a.secondary, a.contrast) {
    --pico-text-decoration: none;
}

body > footer {
    position: relative;
    font-size: 0.875em;
    --pico-color: var(--pico-secondary);
    border-top: 1px solid var(--pico-muted-border-color);
}

body > footer nav li {
    padding-block: calc(var(--pico-spacing) / 2);
}

#hero {
    text-align: center;
}

#hero > :first-child {
    transition: transform var(--pico-transition);
    display: inline-block;
}

@media (any-pointer: fine) {
    #hero > :first-child:hover {
        transform: scale(1.05);
    }
}

#hero .avatar {
    max-width: 200px;
    border-radius: 50%;
}

nav.social {
    justify-content: center;
    font-size: 1.2rem;
}

nav.social ul {
    gap: 1rem;
}

nav.social li {
    padding: 0;
}

nav.social a {
    margin: 0;
    line-height: 1;
    --pico-color: var(--pico-contrast);
}
