.feather {
    width: 1.2rem;
    height: 1.2rem;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.icon-link {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.icon-link .feather {
    position: relative;
    top: 0.1em;
    width: 1.2em;
    height: 1.2em;
}

#hero {
    text-align: center;
}

#hero .avatar {
    max-width: 200px;
    border-radius: 50%;
}
