{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $classes := slice "contrast" }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $classes = $classes | append "active" }}
      {{- $attrs = merge $attrs (dict "aria-current" "page") }}
      {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $classes = $classes | append "ancestor" }}
      {{- $attrs = merge $attrs (dict "aria-current" "true") }}
      {{- end }}
    {{- $icon := .Params.icon | default "" }}
    {{- if $icon }}
      {{- $classes = $classes | append "icon-link" }}
    {{- end }}
    {{- $classes = delimit $classes " " }}
    {{- $attrs = merge $attrs (dict "class" $classes) }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >
      {{- with $icon }}
      <i data-feather="{{ . }}"></i>
      {{- end }}
      {{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
