<nav class="social">
  <ul>
    {{- range site.Menus.social }}
      {{- $attrs := dict "href" (.URL | default "#") }}
      {{- with .KeyName }}
        {{- $attrs = merge $attrs (dict "aria-label" .)}}
      {{- end }}
      <li>
        <a
          {{- range $k, $v := $attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end -}}
          target="_blank" rel="me"
        >
        {{- with .Params.icon }}
          <i data-feather="{{ . }}" aria-hidden="true"></i>
        {{- else }}
          {{- .KeyName }}
        {{- end }}
        </a>
      </li>
    {{- end }}
  </ul>
</nav>